<!DOCTYPE html>
<html lang="en">
    <body style="background: #200016;">
        <h1 style="background-color:powderblue;">This is a ilyasify</h1>
        <p style="background-color:tomato;">this is a channels</p>
...
<video width="400" controls>
    <source src="mov_bbb.mp4" type="video/mp4">
    <source src="mov_bbb.ogg" type="video/ogg">
    Your browser does not support HTML video.
  </video>
  <p>
    Video courtesy of 
    <a href="https://www.youtube.com/watch?v=f86lWYZ-EDk&t=230s" target="_blank">asphalt9 youtube</a>.
    </p>
<p>I am normal</p>
<p style="color:red;">I am red</p>
<p style="color:blue;">I am blue</p>
<p style="font-size:50px;">I am big</p>

<p>this is a paragraph</p>
<p>this is a paragraph</p>
<p>this is a paragraph</p>
<h1 style="font-size: 60px;">welcome to my website</h1>
    </body>
<head>
<title>Ilyasify</title>
</head>
<body>

<h1>ILYASIFY</h1>
<p title=about ilyasify>
    hello im ilyasify i create the website for channels ilyasify and my freinds
</p>
<p><b>if you mouve the mousse over the paragraph above
</b></p>
<p>in some situations, when the attribute value itself containts double quotes,
 it is necessary to use single quotes</p>
 <p>Move your mouse over the paragraphs below to see the effect:</p>
<p title='ilyasify"youtube" website'>im ilyas in youtube</p>
<p title='ilyasify"youtube" website'>im ilyas in youtube</p>

<img src="c:\Users\ILYASS\Videos\Captures\YouTube - (4) ilyasify - YouTube 09_10_2022 16_32_49.png" alt="ilyasify" width="500" height="600"
<p>السلام عليكم انا الياس من قناةilasify</p>
<p style="color:#200016 ;"></p>
<a href="https://www.youtube.com/channel/UCrHkioL2Hr6EzpI5jYg2PVQ">visit ilyasify</a>
</body>
</html>
